extend layouts/layout_index
block body
  body(class=bodyclass)


    .container
      h6 Desktop
      ul(style="padding:0;margin-bottom:100px;list-style:none;")
        li: a(href="desktop/m_card.html") カードUI 3コラム
        li: a(href="desktop/m_card_col02.html") カードUI 2コラム
        li: a(href="desktop/m_card_col01.html") カードUI 1コラム
        li: a(href="desktop/m_header.html") ヘッダー

      //h6 Mobile
      //ul(style="padding:0;list-style:none;")
      //  li: a(href="mobile/m_card.html") カードUI
