extend layouts/layout
block body
  body(class=bodyclass)


    .l_container
      h6 Desktop
      ul(style="padding:0;margin-bottom:100px;list-style:none;")
        li: a(href="desktop/m_card.html") カードUI 3コラム
        li: a(href="desktop/m_card_col02.html") カードUI 2コラム
        li: a(href="desktop/m_card_col01.html") カードUI 1コラム
        li: a(href="desktop/m_header.html") ヘッダー
        li: a(href="desktop/m_navigation.html") ナビゲーション


      h6 Layout
      ul(style="padding:0;margin-bottom:100px;list-style:none;")
        li: a(href="desktop/layout01.html") layout_01
        li: a(href="desktop/layout02.html") layout_02
        li: a(href="desktop/layout03.html") layout_03
        li: a(href="desktop/layout04.html") layout_04
        li: a(href="desktop/layout05.html") layout_05
        li: a(href="desktop/layout06.html") layout_06
        li: a(href="desktop/layout07.html") layout_07
        li: a(href="desktop/layout08.html") layout_08

      ul(style="padding:0;margin-bottom:100px;list-style:none;")
        li: a(href="desktop/a_001.html") a_001
        li: a(href="desktop/b_001.html") b_001
        li: a(href="desktop/c_001.html") c_001
        li: a(href="desktop/d_001.html") d_001

