extend ../layouts/layout_pattern

block body
  - var bodyclass = 'c_001';
  body(class=bodyclass)
    .global_header
      .container
        .logo
          a(href=""): img(src="../img/c_001/logo.png")
        .global_navigation
          nav.nav
            a(href="") TOP
            a(href="") ABOUT
            a(href="") RESTAURANT
            a(href="") ROOM
            a(href="") FACILITY & AMENITY
        .lang
          a(href="") JP
          span /
          a.select(href="") EN

    section.sec#sec01(style="background-image:url(../img/c_001/keyvisual_01.jpg)")
      .sec_container
        .sec__header.sec_text_set
          .container
            img(src="../img/c_001/logo_l.png")
        .sec__body
          .container
            .btn_row.mgb
              .btn.btn--black Hotel Reservation
              .btn.btn--black
                i.icons8-phone-filled
                | 03-3344-5111
            p.l_align_c
              | In Hotel Hilton Tokyo,
              br
              | You can enjoy comfortable hotel stay regardless of business or leisure.
      .sec__bottom
        a(href="#sec02")
          | ABOUT
          i.icons8-expand-arrow

    section.sec#sec02(style="background-image:url(../img/c_001/keyvisual_02.jpg)")
      .sec_container
        .sec__header.sec_text_set
          .container
            h2 TAKE ME TO THE HILTON
            p
              | As the most recognized name in the industry,
              br
              | travelers all over the world have been saying “Take me to the Hilton” for almost a century.
              br
              | And because of our innovative approach to products, amenities and service,
              br
              | Hilton continues to be synonymous with hotel across the globe. Hilton Hotels & Resorts remains the stylish,
              br
              | forward thinking global leader of hospitality – and we help make traveling easier with our smart design,
              br
              | innovative restaurant concepts, authentic hospitality and commitment to the global community.
              br
              | Learn more about Hilton Hotels & Resorts.

      .sec__bottom
        a(href="#sec03")
          | RESTAURANT
          i.icons8-expand-arrow


    section.sec#sec03(style="background-image:url(../img/c_001/keyvisual_03.jpg)")
      .sec_container
        .sec__header.sec_text_set
          .container
            h2.l_align_c RESTAURANT
            p.l_align_c
              | As the most recognized name in the industry,
              br
              | travelers all over the world have been saying “Take me to the Hilton” for almost a century.
              br
              | And because of our innovative approach to products, amenities and service,
              br
              | Hilton continues to be synonymous with hotel across the globe.
        .sec__body
          .container
            .gallery_block
              .gallery_row
                .gallery_thumb
                  a(href="")
                    img(src="../img/c_001/thumb_01.jpg")
                .gallery_thumb
                  a(href="")
                    img(src="../img/c_001/thumb_02.jpg")
                .gallery_thumb
                  a(href="")
                    img(src="../img/c_001/thumb_03.jpg")
                .gallery_thumb
                  a(href="")
                    img(src="../img/c_001/thumb_04.jpg")
                .gallery_thumb
                  a(href="")
                    img(src="../img/c_001/thumb_05.jpg")
                .gallery_thumb
                  a(href="")
                    img(src="../img/c_001/thumb_06.jpg")

      .sec__bottom
        a(href="#sec04")
          | ROOM
          i.icons8-expand-arrow


    section.sec#sec04(style="background-image:url(../img/c_001/keyvisual_04.jpg)")
      .sec_container
        .sec__header.sec_text_set
          .container
            h2.l_align_c ROOM
            p.l_align_c
              | As the most recognized name in the industry,
              br
              | travelers all over the world have been saying “Take me to the Hilton” for almost a century.
              br
              | And because of our innovative approach to products, amenities and service,
              br
              | Hilton continues to be synonymous with hotel across the globe.
        .sec__body
          .container
            .gallery_block
              .gallery_row
                .gallery_thumb
                  a(href="")
                    img(src="../img/c_001/thumb_07.jpg")
                .gallery_thumb
                  a(href="")
                    img(src="../img/c_001/thumb_08.jpg")
                .gallery_thumb
                  a(href="")
                    img(src="../img/c_001/thumb_09.jpg")
                .gallery_thumb
                  a(href="")
                    img(src="../img/c_001/thumb_10.jpg")
                .gallery_thumb
                  a(href="")
                    img(src="../img/c_001/thumb_11.jpg")
                .gallery_thumb
                  a(href="")
                    img(src="../img/c_001/thumb_12.jpg")

      .sec__bottom
        a(href="#sec05")
          | FACILITY & AMENITY
          i.icons8-expand-arrow



    section.sec#sec05(style="background-image:url(../img/c_001/keyvisual_05.jpg)")
      .sec_container
        .sec__header.sec_text_set
          .container
            h2 FACILITY & AMENITY
        .sec__body
          .container
            table
              tbody
                tr
                  td 32” Flat Screen TV
                  td Air Conditioning
                  td Bath Slippers
                  td Bath Slippers
                tr
                  td Telephone - Auto Wakeup
                  td Internet access in guest room
                  td Hand Held Shower
                  td Hairdryer
                tr
                  td Scald Proof Shower/Tub
                  td Night Light
                  td Secondary Locking Device
                  td Wide Angle Door Viewer
                tr
                  td Electronic Locks
                  td Double Locking Doors
                  td Automatic Door Closer
                  td Duvet Covers
                tr
                  td Easy to Set Alarm Clock Radio
                  td LCD Flat Panel TV
                  td Lower or Adjustable Closet Rod
      .sec__bottom
        a(href="#sec06")
          | FACILITY & AMENITY
          i.icons8-expand-arrow



    section.sec#sec06(style="background-image:url(../img/c_001/keyvisual_06.jpg)")
      .sec_container
        .sec__header.sec_text_set
          .container
            h2 HOTEL RESERVATION
            p
              | As the most recognized name in the industry,
              br
              | travelers all over the world have been saying “Take me to the Hilton” for almost a century.
              br
              | And because of our innovative approach to products, amenities and service,
              br
              | Hilton continues to be synonymous with hotel across the globe. Hilton Hotels & Resorts remains the stylish,
              br
              | forward thinking global leader of hospitality – and we help make traveling easier with our smart design,
              br
              | innovative restaurant concepts, authentic hospitality and commitment to the global community.
              br
              | Learn more about Hilton Hotels & Resorts.
        .sec__body
          .container
            .btn_row
              .btn.btn--black Hotel Reservation
              .btn.btn--black
                i.icons8-phone-filled
                | 03-3344-5111
      .sec__bottom
        a(href="#")
          | PAGR TOP
          i.icons8-collapse-arrow


    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    script.
      $(document).ready(function () {
        $(window).on('load resize',function(){
          var wW = $(window).width();
          var wH = $(window).height();
          $('.sec').css({
            width:wW,
            'min-width':'1060px',
            height:wH
          });
        });
        $('a[href^=#]').click(function() {
          var speed = 400; // ミリ秒
          var href= $(this).attr("href");
          var target = $(href == "#" || href == "" ? 'html' : href);
          var position = target.offset().top;
          $('body,html').animate({scrollTop:position}, speed, 'swing');
          return false;
        });
      });

