extend ../layouts/layout_pattern_d

block body
  - var bodyclass = 'd_001';
  body(class=bodyclass)
    .global_header
      .container
        .logo
          a(href=""): img(src="../img/c_001/logo.png")
        .global_navigation
          nav.nav
            a(href="") ABOUT
            a(href="") RESTAURANT
            a(href="") ROOM
            a(href="") ACCESS
            a(href="") FACILITY & AMENITY
        .lang
          .select
            select
              option ENGLISH
              option 日本語
            i.icons8-expand-arrow

    section.sec#sec01(style="background-image:url(../img/d_001/keyvisual.jpg)")
      .sec_container
        .sec__header.sec_text_set
          .container
            img.logo(src="../img/d_001/logo_l.png")
            h2
              | ACCURATE TRACKING FEATURES THAT WILL
              br
              | ENHANCE YOUR SPORT ACTIVITIESk
            p.l_align_c
             | We are guided by our senses in life, our sight being one of them. This is why design is extremely important for our products,
             br
             | being unique, natural and elegant as well. Then we have the tactile sense, enticed by a smooth, continuous,
             br
             | and round item, Gain an insider's look into Shopify’s platform and where we believe the world of commerce is headed. Learn about designi
             br
             | ng and building beautiful commerce experiences including websites, apps, and themes; how to improve your sales and marketing;
             br
             | and the advantages of working with Shopify Plus. Join us at Unite — let’s continue to build the future of commerce, together.
        .sec__body
          .container
            .btn_row.mgb
              .btn.btn--black
                i.icons8-phone-filled
                | 00-0000-0000
              .btn.btn--black
                i.icons8-edit-property-filled
                | Reservation Form




    section.sec#sec02
      .container
        .sec__header
          h2
            | ENHANCE YOUR SPORT ACTIVITIES
            br
            | ACCURATE TRACKING FEATURES THAT WILL
          p
            | being unique, natural and elegant as well. Then we have the tactile sense, enticed by a smooth, continuous,
            br
            | ng and building beautiful commerce experiences including websites, apps, and themes; how to improve your sales and marketing;
            br
            | and the advantages of working with Shopify Plus. Join us at Unite.
        .sec__body
          .flow_container.flow_container--noimg
            .container
              .flow
                .flow__num
                  i.icons8-expand-arrow
              .flow
                .flow__num
                  i.icons8-help-filled
                .flow__title
                  | ABOUT - TRACKING FEATURES THAT WILL
                  br
                  | ENHANCE YOUR SPORT ACTIVITIES
                .flow__text 
                  | We are guided by our senses in life, our sight being one of them. This is why design is extremely important for our products, being unique, natural and elegant as well. Then we have the tactile sense,enticed by a smooth, continuous, and round item,
                .img_block
                  .img_inner
                    img(src="../img/d_001/gallery_01.jpg")
                  .img_row
                    .img_inner
                      img(src="../img/d_001/gallery_02.jpg")
                    .img_inner
                      img(src="../img/d_001/gallery_03.jpg")
                  .img_row
                    .img_inner
                      img(src="../img/d_001/gallery_04.jpg")
                    .img_inner
                      img(src="../img/d_001/gallery_05.jpg")
              .flow
                .flow__num
                  i.icons8-restaurant-filled
                .flow__title  SPECIAL RESTAURANT
                .flow__text 
                  | The watch was designed to fit an active lifestyle as well.  With an incorporated GPS, heart rate monitor, pedometer, and accelerometer,
                  br
                  | you will have a clearer view of your performances and listen to your favorite songs, without having a phone on you. And, because of an aluminium 6082 case and dust and water resistant (IP67), you have a light and sturdy device.)
                .img_block
                  .img_row
                    .img_inner
                      img(src="../img/d_001/gallery_06.jpg")
                    .img_inner
                      img(src="../img/d_001/gallery_07.jpg")
                  .img_row
                    .img_inner
                      img(src="../img/d_001/gallery_08.jpg")
                    .img_inner
                      img(src="../img/d_001/gallery_09.jpg")
              .flow
                .flow__num
                  i.icons8-bed-filled
                .flow__title 
                  | ACCURATE TRACKING FEATURES THAT WILL
                  br
                  | ENHANCE YOUR SPORT ACTIVITIES
                .flow__text
                  | The watch was designed to fit an active lifestyle as well.  With an incorporated GPS, heart rate monitor, pedometer, and accelerometer,
                  br
                  | you will have a clearer view of your performances and listen to your favorite songs, without having a phone on you. And, because of an aluminium 6082 case and dust and water resistant (IP67), you have a light and sturdy device.)
                .flow__text
                  | We are guided by our senses in life, our sight being one of them. This is why design is extremely important for our products, being unique, natural and elegant as well. Then we have the tactile sense,
                  br
                  | enticed by a smooth, continuous, and round item,
                .img_block
                  .img_inner
                    img(src="../img/d_001/gallery_10.jpg")
              .flow
                .flow__num
                  i.icons8-hotel-changing-room-filled
                .flow__title FOR YOUR COMFORT AND CONVENIENCE
                .flow__text 
                  | utomated Teller (ATM)  /  Baggage Storage
                  br
                  | Barber Shop  /  Beauty Salon
                  br
                  | Car Rental Desk  /  Clothing Store
                  br
                  | Coin Laundry  /  Concierge Desk
                  br
                  | Electric Service  /  Elevators
                  br
                  | Foreign Currency Exchange  /  Gift Shop
                  br
                  | Guest Activity/Recreation Desk  /  Laundry/Valet Service
                  br
                  | Local Area Transportation  /  Lounge
                  br
                  | Luggage Hold  /  Multi-Lingual Staff
                  br
                  | News Stand  /  On-Site Convenience Store
                  br
                  | Room Service  /  Safety Deposit Box
                  br
                  | Shoe Shine Stand  /  Tour Desk
                  br
                  | Automated Teller (ATM)  /  Baggage Storage
                  br
                  | Barber Shop  /  Beauty Salon
                  br
                  | Car Rental Desk  /  Clothing Store
                  br
                  | Coin Laundry  /  Concierge Desk
                  br
                  | Electric Service  /  Elevators
                  br
                  | Foreign Currency Exchange  /  Gift Shop))
              .flow
                .flow__num
                  i.icons8-marker-filled
                .flow__title ACCESS & HOTEL MAP
                .flow__text
                  | 150 - 0031 17-12 Sakuragaoka-cho, Shibuya-ku, Tokyo
                  br
                  | Shibuya Johnson Building 4F-1
                .flow__text
                  | 5 minutes on foot from JR Yamanote Line Shibuya Station South Exit
                  br
                  | 7 minutes on foot from various lines (Keio Inokashira line / Tokyo Metro Ginza Line / Hanzomon line / Fukutoshin Line / Tokyu Denki Toyoko line / Den-en-Miyaki line))
                .flow__text
                  | AM10:00 - PM23:00
                  br
                  | Tel : 00-0000-0000 / Fax : 00-0000-0000
                .img_block
                  .img_inner
                    img(src="../img/d_001/map.jpg")




    section.sec#contact(style="background-image:url(../img/d_001/contact_bg.jpg)")
      .sec_container
        .sec__header.sec_text_set
          .container
            h2
              | ACCURATE TRACKING FEATURES THAT WILL
              br
              | ENHANCE YOUR SPORT ACTIVITIESk
            p.l_align_c
             | We are guided by our senses in life, our sight being one of them. This is why design is extremely important for our products,
             br
             | being unique, natural and elegant as well. Then we have the tactile sense, enticed by a smooth, continuous,
             br
             | and round item, Gain an insider's look into Shopify’s platform and where we believe the world of commerce is headed. Learn about designi
             br
             | ng and building beautiful commerce experiences including websites, apps, and themes; how to improve your sales and marketing;
             br
             | and the advantages of working with Shopify Plus. Join us at Unite — let’s continue to build the future of commerce, together.
        .sec__body
          .container
            .btn_row.mgb
              .btn.btn--black
                i.icons8-phone-filled
                | 00-0000-0000
              .btn.btn--black
                i.icons8-edit-property-filled
                | Reservation Form

    .global_footer
      .container
        .footer_inner
          .footer_left
            nav.nav
              a(href="") ABOUT
              a(href="") RESTAURANT
              a(href="") ROOM
              a(href="") ACCESS
              a(href="") FACILITY & AMENITY
          .footer_right
            small &copy; 2017 Hotel Name, All Rights Reserved.

