extend ../layouts/layout
block body
  - var bodyclass = '';
  body(class=bodyclass)

    .l_sec.l_sec--gray
      .l_container
        .m_card.m_card--col01
          .card_row
            .card.card--01
              a(href="")
                .card__inner
                  .card__inner__left
                    .card__thumb: img(src="../img/sample/4_3_01.jpg")
                  .card__inner__right
                    .card__caption 滞在中レンタカー付！『サンキューチョイスプラン沖縄』／緊急発売！JALで行く沖縄・石垣島ツアー／4泊5日の旅・完全自由な旅
                    .card__text ◎小田原発着だからこの価格！東京駅・品川駅・新横浜駅発着にも変更できます！◎JR選択画面にて、ひかり号にも変更いただけます（選択可能な期間はご予約３ヶ月前まで）／完全自由プランで女子会から家族旅行まで自由な旅が可能です。


    .l_sec
      .l_container
        .m_card.m_card--col01
          .card_row
            .card.card--02
              a(href="")
                .card__inner
                  .card__inner__left
                    .card__thumb: img(src="../img/sample/4_3_01.jpg")
                  .card__inner__right
                    .card__caption 滞在中レンタカー付！『サンキューチョイスプラン沖縄』／緊急発売！JALで行く沖縄・石垣島ツアー／4泊5日の旅・完全自由な旅
                    .card__text ◎小田原発着だからこの価格！東京駅・品川駅・新横浜駅発着にも変更できます！◎JR選択画面にて、ひかり号にも変更いただけます（選択可能な期間はご予約３ヶ月前まで）／完全自由プランで女子会から家族旅行まで自由な旅が可能です。

    .l_sec.l_sec--gray
      .l_container
        .m_card.m_card--col01
          .card_row
            .card.card--03
              a(href="")
                .card__inner
                  .card__thumb: img(src="../img/sample/4_3_01.jpg")
                  .card__caption 滞在中レンタカー付！『サンキューチョイスプラン沖縄』／緊急発売！JALで行く沖縄・石垣島ツアー／4泊5日の旅・完全自由な旅
                  .card__text ◎小田原発着だからこの価格！東京駅・品川駅・新横浜駅発着にも変更できます！◎JR選択画面にて、ひかり号にも変更いただけます（選択可能な期間はご予約３ヶ月前まで）／完全自由プランで女子会から家族旅行まで自由な旅が可能です。

    .l_sec
      .l_container
        .m_card.m_card--col01
          .card_row
            .card.card--04
              a(href="")
                .card__inner
                  .card__thumb: img(src="../img/sample/4_3_01.jpg")
                  .card__caption 滞在中レンタカー付！『サンキューチョイスプラン沖縄』／緊急発売！JALで行く沖縄・石垣島ツアー／4泊5日の旅・完全自由な旅
                  .card__text ◎小田原発着だからこの価格！東京駅・品川駅・新横浜駅発着にも変更できます！◎JR選択画面にて、ひかり号にも変更いただけます（選択可能な期間はご予約３ヶ月前まで）／完全自由プランで女子会から家族旅行まで自由な旅が可能です。

    .l_sec.l_sec--gray
      .l_container
        .m_card.m_card--col01
          .card_row
            .card.card--05
              a(href="")
                .card__inner
                  .card__thumb: img(src="../img/sample/4_3_01.jpg")
                  .card__caption 滞在中レンタカー付！『サンキューチョイスプラン沖縄』／緊急発売！JALで行く沖縄・石垣島ツアー／4泊5日の旅・完全自由な旅
                  .card__text ◎小田原発着だからこの価格！東京駅・品川駅・新横浜駅発着にも変更できます！◎JR選択画面にて、ひかり号にも変更いただけます（選択可能な期間はご予約３ヶ月前まで）／完全自由プランで女子会から家族旅行まで自由な旅が可能です。

    .l_sec
      .l_container
        .m_card.m_card--col01
          .card_row
            .card.card--06
              a(href="")
                .card__inner
                  .card__inner__left
                    .card__thumb: img(src="../img/sample/4_3_01.jpg")
                  .card__inner__right
                    .card__caption 滞在中レンタカー付！『サンキューチョイスプラン沖縄』／緊急発売！JALで行く沖縄・石垣島ツアー／4泊5日の旅・完全自由な旅
                    .card__text ◎小田原発着だからこの価格！東京駅・品川駅・新横浜駅発着にも変更できます！◎JR選択画面にて、ひかり号にも変更いただけます（選択可能な期間はご予約３ヶ月前まで）／完全自由プランで女子会から家族旅行まで自由な旅が可能です。

    .l_sec.l_sec--gray
      .l_container
        .m_card.m_card--col01
          .card_row
            .card.card--07
              a(href="")
                .card__inner
                  .card__thumb: img(src="../img/sample/4_3_01.jpg")
                  .card__caption 滞在中レンタカー付！『サンキューチョイスプラン沖縄』／緊急発売！JALで行く沖縄・石垣島ツアー／4泊5日の旅・完全自由な旅が可能なので、女子旅や家族旅行にもオススメです！
                  .card__text ◎小田原発着だからこの価格！東京駅・品川駅・新横浜駅発着にも変更できます！◎JR選択画面にて、ひかり号にも変更いただけます（選択可能な期間はご予約３ヶ月前まで）／完全自由プランで女子会から家族旅行まで自由な旅が可能です。








    .l_sec
      .l_container
        .m_card.m_card--col01.m_card--square_img
          .card_row
            .card.card--01
              a(href="")
                .card__inner
                  .card__inner__left
                    .card__thumb: img(src="../img/sample/1_1_02.jpg")
                  .card__inner__right
                    .card__caption 滞在中レンタカー付！『サンキューチョイスプラン沖縄』／緊急発売！JALで行く沖縄・石垣島ツアー／4泊5日の旅・完全自由な旅
                    .card__text ◎小田原発着だからこの価格！東京駅・品川駅・新横浜駅発着にも変更できます！◎JR選択画面にて、ひかり号にも変更いただけます（選択可能な期間はご予約３ヶ月前まで）／完全自由プランで女子会から家族旅行まで自由な旅が可能です。
    .l_sec.l_sec--gray
      .l_container
        .m_card.m_card--col01.m_card--square_img
          .card_row
            .card.card--02
              a(href="")
                .card__inner
                  .card__inner__left
                    .card__thumb: img(src="../img/sample/1_1_02.jpg")
                  .card__inner__right
                    .card__caption 滞在中レンタカー付！『サンキューチョイスプラン沖縄』／緊急発売！JALで行く沖縄・石垣島ツアー／4泊5日の旅・完全自由な旅
                    .card__text ◎小田原発着だからこの価格！東京駅・品川駅・新横浜駅発着にも変更できます！◎JR選択画面にて、ひかり号にも変更いただけます（選択可能な期間はご予約３ヶ月前まで）／完全自由プランで女子会から家族旅行まで自由な旅が可能です。

    .l_sec
      .l_container
        .m_card.m_card--col01.m_card--square_img
          .card_row
            .card.card--03
              a(href="")
                .card__inner
                  .card__thumb: img(src="../img/sample/1_1_01.jpg")
                  .card__caption 滞在中レンタカー付！『サンキューチョイスプラン沖縄』／緊急発売！JALで行く沖縄・石垣島ツアー／4泊5日の旅・完全自由な旅
                  .card__text ◎小田原発着だからこの価格！東京駅・品川駅・新横浜駅発着にも変更できます！◎JR選択画面にて、ひかり号にも変更いただけます（選択可能な期間はご予約３ヶ月前まで）／完全自由プランで女子会から家族旅行まで自由な旅が可能です。

    .l_sec.l_sec--gray
      .l_container
        .m_card.m_card--col01.m_card--square_img
          .card_row
            .card.card--04
              a(href="")
                .card__inner
                  .card__thumb: img(src="../img/sample/1_1_01.jpg")
                  .card__caption 滞在中レンタカー付！『サンキューチョイスプラン沖縄』／緊急発売！JALで行く沖縄・石垣島ツアー／4泊5日の旅・完全自由な旅
                  .card__text ◎小田原発着だからこの価格！東京駅・品川駅・新横浜駅発着にも変更できます！◎JR選択画面にて、ひかり号にも変更いただけます（選択可能な期間はご予約３ヶ月前まで）／完全自由プランで女子会から家族旅行まで自由な旅が可能です。

    .l_sec
      .l_container
        .m_card.m_card--col01.m_card--square_img
          .card_row
            .card.card--05
              a(href="")
                .card__inner
                  .card__thumb: img(src="../img/sample/1_1_01.jpg")
                  .card__caption 滞在中レンタカー付！『サンキューチョイスプラン沖縄』／緊急発売！JALで行く沖縄・石垣島ツアー／4泊5日の旅・完全自由な旅
                  .card__text ◎小田原発着だからこの価格！東京駅・品川駅・新横浜駅発着にも変更できます！◎JR選択画面にて、ひかり号にも変更いただけます（選択可能な期間はご予約３ヶ月前まで）／完全自由プランで女子会から家族旅行まで自由な旅が可能です。

    .l_sec.l_sec--gray
      .l_container
        .m_card.m_card--col01.m_card--square_img
          .card_row
            .card.card--06
              a(href="")
                .card__inner
                  .card__inner__left
                    .card__thumb: img(src="../img/sample/1_1_01.jpg")
                  .card__inner__right
                    .card__caption 滞在中レンタカー付！『サンキューチョイスプラン沖縄』／緊急発売！JALで行く沖縄・石垣島ツアー／4泊5日の旅・完全自由な旅
                    .card__text ◎小田原発着だからこの価格！東京駅・品川駅・新横浜駅発着にも変更できます！◎JR選択画面にて、ひかり号にも変更いただけます（選択可能な期間はご予約３ヶ月前まで）／完全自由プランで女子会から家族旅行まで自由な旅が可能です。
   include ../includes/_js
