extend ../layouts/layout
block body
  - var bodyclass = '';
  body(class=bodyclass)



    .l_sec
      - var header_class = 'global_header header--01';
      include ../includes/_header_parts

    .l_sec.l_sec--gray
      - var header_class = 'global_header header--02 header--white';
      include ../includes/_header_parts

    .l_sec
      - var header_class = 'global_header header--03';
      include ../includes/_header_parts

    .l_sec.l_sec--gray
      - var header_class = 'global_header header--04 header--white';
      include ../includes/_header_parts

    .l_sec
      - var header_class = 'global_header header--05';
      include ../includes/_header_parts

    .l_sec.l_sec--gray
      - var header_class = 'global_header header--06 header--white';
      include ../includes/_header_parts

    .l_sec
      - var header_class = 'global_header header--07';
      include ../includes/_header_parts

    .l_sec.l_sec--gray
      - var header_class = 'global_header header--08 header--white';
      include ../includes/_header_parts

    .l_sec
      - var header_class = 'global_header header--09';
      include ../includes/_header_parts

    .l_sec.l_sec--gray
      - var header_class = 'global_header header--10 header--white';
      include ../includes/_header_parts





    .l_sec
      - var header_class = 'global_header header--01';
      include ../includes/_header_parts_longt

    .l_sec.l_sec--gray
      - var header_class = 'global_header header--02 header--white';
      include ../includes/_header_parts_long

    .l_sec
      - var header_class = 'global_header header--03';
      include ../includes/_header_parts_long

    .l_sec.l_sec--gray
      - var header_class = 'global_header header--04 header--white';
      include ../includes/_header_parts_long

    .l_sec
      - var header_class = 'global_header header--05';
      include ../includes/_header_parts_long

    .l_sec.l_sec--gray
      - var header_class = 'global_header header--06 header--white';
      include ../includes/_header_parts_long

    .l_sec
      - var header_class = 'global_header header--07';
      include ../includes/_header_parts_long

    .l_sec.l_sec--gray
      - var header_class = 'global_header header--08 header--white';
      include ../includes/_header_parts_long

    .l_sec
      - var header_class = 'global_header header--09';
      include ../includes/_header_parts_long

    .l_sec.l_sec--gray
      - var header_class = 'global_header header--10 header--white';
      include ../includes/_header_parts_long


    include ../includes/_js
