extend ../layouts/layout
block body
  - var bodyclass = '';
  body(class=bodyclass)

    .body_dummy(style="margin-bottom:80px;position:relative;background:url(../img/sample/bg_pattern_01.gif); height:1200px; width:100%;")
      - var header_class = 'global_header header--01';
      include ../includes/_header_parts
      - var nav_class = 'm_nav m_nav--01';
      include ../includes/_nav_parts


    .body_dummy(style="margin-bottom:80px;position:relative;background:url(../img/sample/bg_pattern_01.gif); height:1200px; width:100%;")
      - var header_class = 'global_header header--01';
      include ../includes/_header_parts
      - var nav_class = 'm_nav m_nav--02';
      include ../includes/_nav_parts


    .body_dummy(style="margin-bottom:80px;position:relative;background:url(../img/sample/bg_pattern_01.gif); height:1200px; width:100%;")
      - var header_class = 'global_header header--01';
      include ../includes/_header_parts
      - var nav_class = 'm_nav m_nav--03';
      include ../includes/_nav_parts


    .body_dummy(style="margin-bottom:80px;position:relative;background:url(../img/sample/bg_pattern_01.gif); height:1200px; width:100%;")
      - var header_class = 'global_header header--01';
      include ../includes/_header_parts
      - var nav_class = 'm_nav m_nav--04';
      include ../includes/_nav_parts


    .body_dummy(style="margin-bottom:80px;position:relative;background:url(../img/sample/bg_pattern_01.gif); height:1200px; width:100%;")
      - var header_class = 'global_header header--01';
      include ../includes/_header_parts
      - var nav_class = 'm_nav m_nav--05';
      include ../includes/_nav_parts


    .body_dummy(style="margin-bottom:80px;position:relative;background:url(../img/sample/bg_pattern_01.gif); height:1200px; width:100%;")
      - var header_class = 'global_header header--01';
      include ../includes/_header_parts
      - var nav_class = 'm_nav m_nav--06';
      include ../includes/_nav_parts


    .body_dummy(style="margin-bottom:80px;position:relative;background:url(../img/sample/bg_pattern_01.gif); height:1200px; width:100%;")
      - var header_class = 'global_header header--01';
      include ../includes/_header_parts
      - var nav_class = 'm_nav m_nav--07';
      include ../includes/_nav_parts


    .body_dummy(style="margin-bottom:80px;position:relative;background:url(../img/sample/bg_pattern_02.gif); height:1200px; width:100%;")
      - var header_class = 'global_header header--02 header--white';
      include ../includes/_header_parts
      - var nav_class = 'm_nav m_nav--01 m_nav--white';
      include ../includes/_nav_parts


    .body_dummy(style="margin-bottom:80px;position:relative;background:url(../img/sample/bg_pattern_02.gif); height:1200px; width:100%;")
      - var header_class = 'global_header header--02 header--white';
      include ../includes/_header_parts
      - var nav_class = 'm_nav m_nav--02 m_nav--white';
      include ../includes/_nav_parts


    .body_dummy(style="margin-bottom:80px;position:relative;background:url(../img/sample/bg_pattern_02.gif); height:1200px; width:100%;")
      - var header_class = 'global_header header--02 header--white';
      include ../includes/_header_parts
      - var nav_class = 'm_nav m_nav--03 m_nav--white';
      include ../includes/_nav_parts


    .body_dummy(style="margin-bottom:80px;position:relative;background:url(../img/sample/bg_pattern_02.gif); height:1200px; width:100%;")
      - var header_class = 'global_header header--02 header--white';
      include ../includes/_header_parts
      - var nav_class = 'm_nav m_nav--04 m_nav--white';
      include ../includes/_nav_parts


    .body_dummy(style="margin-bottom:80px;position:relative;background:url(../img/sample/bg_pattern_02.gif); height:1200px; width:100%;")
      - var header_class = 'global_header header--02 header--white';
      include ../includes/_header_parts
      - var nav_class = 'm_nav m_nav--05 m_nav--white';
      include ../includes/_nav_parts


    .body_dummy(style="margin-bottom:80px;position:relative;background:url(../img/sample/bg_pattern_02.gif); height:1200px; width:100%;")
      - var header_class = 'global_header header--02 header--white';
      include ../includes/_header_parts
      - var nav_class = 'm_nav m_nav--06 m_nav--white';
      include ../includes/_nav_parts


    .body_dummy(style="margin-bottom:80px;position:relative;background:url(../img/sample/bg_pattern_02.gif); height:1200px; width:100%;")
      - var header_class = 'global_header header--02 header--white';
      include ../includes/_header_parts
      - var nav_class = 'm_nav m_nav--07 m_nav--white';
      include ../includes/_nav_parts
    include ../includes/_js

