@simple-mixin-define font_bebas {
  font-family: "bebas_neue_regularregular";
  letter-spacing: 0.15rem;
  font-weight:bold;
}


*{
  appearance: none;
  box-sizing: border-box;
  margin:0;
  padding:0;
}

html{
  font-size:62.5%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
body{
  font-size:1.2rem;
  background: #161616;
  color:#fff;
  margin:0;
  font-family:sans-serif;
}
a,input,button{
  color:#000;
  text-decoration: none;
  -webkit-touch-callout:none;
  -webkit-tap-highlight-color:(0,0,0,0);
  &:hover{
    opacity: .8;
    text-decoration: none;
    
  }
}
p{
  font-size:1.5rem;
  line-height:1.8;
}
select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select{
  position:relative;
  width:70px;
  select{
    background: transparent;
    color:#666;
    border:none;
    padding-right:20px;
    font-size:1.8rem;
  }
  .select__icon{
   position:absolute;
    right:0;
    top:50%;
    transform:translate(0,-50%);
  }
  
}
select::-ms-expand {
  display: none;
}
.container{
  width:1020px;
  margin:0 auto;
}

/* #body */

:-moz-placeholder {
    color:#666;
  }
::-webkit-input-placeholder {
    color:#666;
}

.font_bebas {
  font-family: "bebas_neue_regularregular";
  letter-spacing: 0.15rem;
  font-weight:bold;
}

/* ===============================================
 * color
 * =============================================== */
.c_brand{
  color:$brand-color;
}

/* ===============================================
 * layout
 * =============================================== */

.l_align_l{
  text-align: left;
}
.l_align_c{
  text-align: center;
}
.l_align_r{
  text-align: right;
}

/* ===============================================
 * .card
 * =============================================== */
.m_card{
  .card_row{
    display:flex;
    flex-flow: row wrap;
    margin:0 -15px;
    
    
  }
}
.m_card{
  margin-top:-30px;
  .card{
    padding:0 15px;
    margin-top:30px;
    width:33.3%;
    &:hover{
      opacity:.8;
    }
    .card__inner{
      height:100%;
    }
    .card__thumb{
      height:213px;
      width:320px;
      background: #e6e6e6;
      overflow:hidden;
      justify-content: center;
      align-items:center;
      display: flex;
      img{
        display: block;
        width: auto;
        max-height: 100%;
        min-width: 1px;
        max-width: 100%;
      }
    }
    .card__caption{
      font-size:12px;
      line-height:1.2;
      font-weight: bold;
      max-height: 1.2em;
      height:1.2em;
      flex: 1;
      box-sizing: content-box;
      
    }
    .card__text{
      font-size:10px;
      line-height:1.6;
      flex: 1;
      box-sizing: content-box;
      height:2em;
    }
  }
}
@media all and (-ms-high-contrast:none){
  .m_card{
    .card{
      
      .card__caption{
        flex: 1 0 auto;
      }
      .card__text{
        flex: 1 0 auto;
        height:auto;
      }
    }
  }
}

.m_card{
  .card.card--02{
    .card__caption{
      overflow:hidden;
      margin:15px 0 5px;
    }
    .card__text{
      font-weight: bold;
    }
  }
}




