/*
 * Icon Font rco
 * Made with love by Icons8 [ https://icons8.com/ ] using FontCustom [ https://github.com/FontCustom/fontcustom ]
 *
 * Contacts:
 *    [ https://icons8.com/contact ]
 *
 * Follow Icon8 on
 *    Twitter [ https://twitter.com/icons_8 ]
 *    Facebook [ https://www.facebook.com/Icons8 ]
 *    Google+ [ https://plus.google.com/+Icons8 ]
 *    GitHub [ https://github.com/icons8 ]
 */


@font-face {
  font-family: "rco";
  src: url("../fonts/rco_6703fb4439ebb1715788be8867d918f0.eot");
  src: url("../fonts/rco_6703fb4439ebb1715788be8867d918f0.eot?#iefix") format("embedded-opentype"),
       url("../fonts/rco_6703fb4439ebb1715788be8867d918f0.woff2") format("woff2"),
       url("../fonts/rco_6703fb4439ebb1715788be8867d918f0.woff") format("woff"),
       url("../fonts/rco_6703fb4439ebb1715788be8867d918f0.ttf") format("truetype"),
       url("../fonts/rco_6703fb4439ebb1715788be8867d918f0.svg#rco") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "rco";
    src: url("../fonts/rco_6703fb4439ebb1715788be8867d918f0.svg#rco") format("svg");
  }
}

[data-icons8]:before { content: attr(data-icons8); }

[data-icons8]:before,
.icons8-back:before,
.icons8-collapse-arrow:before,
.icons8-expand-arrow:before,
.icons8-forward:before,
.icons8-phone-filled:before {
  display: inline-block;
  font-family: "rco";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icons8-back:before { content: "\f103"; }
.icons8-collapse-arrow:before { content: "\f101"; }
.icons8-expand-arrow:before { content: "\f100"; }
.icons8-forward:before { content: "\f102"; }
.icons8-phone-filled:before { content: "\f104"; }