$brand-color:#e9c875;
$border-color:#333333;
$mgb:30px;


// #share snsカラー
$sns-twitter:#00aaf0;
$sns-facebook:#3a53a3;
$sns-pinterest:#d32f2f;
$sns-tumblr:#314358;
$sns-instagram:#895a4d;
$sns-message:#404040;
