footer.global-footer
  .container
    .global-footer-container
      .global-footer-inner
        .global-footer-block
          .footer-link
            .footer-title エリア一覧
            ul
              li: a(href="") 製品一覧
              li: a(href="") 新着商品
              li: a(href="") セール商品
              li: a(href="") 人気の商品
              li: a(href="") 今月のランキング
              li: a(href="") おすすめ
        .global-footer-block
          .footer-link
            .footer-title カテゴリー
            ul
              li: a(href="") 新商品（59）
              li: a(href="") ドレス（363）
              li: a(href="") パンツドレス（220）
              li: a(href="") アウター（363）
              li: a(href="") フォーマル（43）
              li: a(href="") ポレロ（14）
              li: a(href="") ジャケット（842）
              li: a(href="") ストール・ショール（160）
        .global-footer-block
          .footer-link
            .footer-title 価格
            ul
              li: a(href="") 〜1,000円
              li: a(href="") 1,000円〜2,000円
              li: a(href="") 2,000円〜4,000円
              li: a(href="") 4,000円〜6,000円
              li: a(href="") 6,000円〜8,000円
              li: a(href="") 8,000円〜10,000円
              li: a(href="") 10,000円〜
      .global-footer-inner
        .global-footer-block
          .footer-link
            .footer-title 運営
            ul
              li: a(href="") 運営会社
              li: a(href="") 公式ブログ
              li: a(href="") 利用規約
              li: a(href="") プライバシーポリシー
        .global-footer-block
          .footer-link
            .footer-title SNS
          .sns-list
            .sns.sns-twitter
              a(href="",target="_blank")
                i.icons8-twitter-filled
            .sns.sns-facebook
              a(href="",target="_blank")
                i.icons8-facebook-filled
            .sns.sns-pinterest
              a(href="",target="_blank")
                i.icons8-pinterest-filled

  .global-footer-block
    small © 2016 DARIAL. All RIGHTS RESERVE

