footer.global-footer
  .global-footer-block
    nav
      .nav-row
        a(href="") top
        a(href="") concept
      .nav-row
        a(href="") brand
        a(href="") model
      .nav-row
        a(href="") product
        a(href="") site image
  .global-footer-block
    .sns-list
      .sns.sns-twitter
        a(href="",target="_blank")
          i.icons8-twitter-filled
      .sns.sns-facebook
        a(href="",target="_blank")
          i.icons8-facebook-filled
      .sns.sns-pinterest
        a(href="",target="_blank")
          i.icons8-pinterest-filled
      .sns.sns-tumblr
        a(href="",target="_blank")
          i.icons8-tumblr-filled
      .sns.sns-instagram
        a(href="",target="_blank")
          i.icons8-instagram-filled
      .sns.sns-message
        a(href="",target="_blank")
          i.icons8-message
  .global-footer-block
    small © 2016 darial. all rights reserve

