header(class="#{header_class}")
  .global_header__top
    .l_container
      .global_header__inner
        .global_header__left
          | JTB ／ 旅館・ホテル、国内・海外旅行の予約はJTBホームページで
        .global_header__right
          .lang_row
            a.current(href="") 日本語
            a(href="") 英語
            a(href="") 簡体字
            a(href="") 繁体字
            a(href="") 韓国語

  .global_header__main
    .l_container
      .global_header__inner
        .global_header__left
          .thumb
            img(src="../img/sample/4_3_01.jpg")
        .global_header__right
          .text_block
            .text_title
              | 旅館・ホテル、国内・海外旅行予約はJTB ／ 旅館・ホテル、国内・海外旅行の予約はJTBホームページで。旅館・ホテルの宿泊予約はもちろん、国内ツアー、海外ツアーなどの検索 ・予約が可能です。旅館・ホテル、国内・海外旅行、旅館・ホテルの宿泊予約はJTBホームページで。
            .text_detail
              | 旅館・ホテル、国内・海外旅行の予約はJTBホームページで。旅館・ホテルの宿泊予約はもちろん、国内ツアー、海外ツアーなどの検索 ・予約が可能です。お客様に便利でお得な旅行情報が満載です！旅館・ホテルの宿泊予約はも ちろん、国内ツアー、海外ツアーなどの検索 ・予約が可能です。
          .btn_block
            a.btn(href="") 旅行の予約・手配
            .btn.btn--transparent
              i.icons8-phone-filled
              | 0120-1234-5678
            .lang_select
              select
                option 日本語
                option 英語
                option 簡体字
                option 繁体字
                option 韓国語

