header#global-header
  .header__inner
    .header__top
      h1: a(href=""): img(src="../img/common/logo_desktop.png")
      .header__top__right
        aside
          a(href="") お買い物ガイド
          a(href="") 配送・送料
          a(href="") 配送・送料
          a(href="") よくあるご質問
        form
          .search-ui
            i.icons8-search
            input.input(type="search",placeholder="キーワードを入力")
        a.btn.btn-brand(href="") ログイン／会員登録



    .header__bottom
      .main-nav
        nav
          .dropdown
            a(id="nav_new", data-target="#", href="http://example.com" data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")
              | 新商品
              span.arrow
            ul.dropdown-menu(aria-labelledby="nav_new")
              li: a(href="") menu
              li: a(href="") menu
              li: a(href="") menu
              li: a(href="") menu
          a(href="") セール商品
          .dropdown
            a(id="nav_category",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false")
              | カテゴリー
              span.arrow
            ul.dropdown-menu(aria-labelledby="nav_category")
              li: a(href="") menu
              li: a(href="") menu
              li: a(href="") menu
              li: a(href="") menu
          .dropdown
            a(id="nav_scene_item",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false")
              | シーン別アイテム
              span.arrow
            ul.dropdown-menu(aria-labelledby="nav_scene_item")
              li: a(href="") menu
              li: a(href="") menu
              li: a(href="") menu
              li: a(href="") menu
          a(href="") ランキング
          a(href="") キャンペーン・特集
          a(href="")
            i.icons8-shopping-cart
            | カート（0）








