header#global-header(role="banner")
  h1.mobile-logo
    a(href="m_01_Top.html")
      img(src="../img/common/logo.png",alt="")
  .mobile-right-block
    a(href='')
      i.icons8-shopping-cart
    a(href='')
      i.icons8-search

header
  button.drawer-toggle.drawer-hamburger(type='button')
    span.sr-only toggle navigation
    span.drawer-hamburger-icon
  nav.drawer-nav(role='navigation')
    ul.drawer-menu
      li
        a.drawer-menu-item(href='#') TOP
      li
        a.drawer-menu-item(href='#') CONCEPT
      li
        a.drawer-menu-item(href='#') BRAND
      li
        a.drawer-menu-item(href='#') MODEL
      li
        a.drawer-menu-item(href='#') PRODUCT
      li
        a.drawer-menu-item(href='#') SITE IMAGE

