div(class="#{nav_class}")
  .l_contaienr
    .nav_container
      nav
        .nav_list: a(href="") Navigation
        .nav_list: a(href="") Navigation
        .nav_list: a(href="") Navigation
        .nav_list: a(href="") Navigation
        .nav_list: a(href="") Navigation
        .nav_list: a(href="") Navigation
        .nav_list: a(href="") Navigation
.body_footer(style="position:absolute;left:0;right:0;bottom:0;text-align:center;color:#fff;background:#444;height:50px;width:100%;line-height:50px;")
  | &copy; 2017 RCO, All Rights Reserved.
