.nav_side
  ul.nav_side__list
    li(class="#{contact}")
      a(href="999_Contact") お問い合わせ
    li(class="#{terms}")
      a(href="999_Terms") 利用規約
    li(class="#{company}")
      a(href="999_Company") 運営会社
