.nav_side
  ul.nav_side__list
    li(class="#{user}")
      a(href="03_01_User_01.html") 一般
    li(class="#{vainglory}")
      a(href="03_02_Vainglory_01.html") Vainglory
    li(class="#{shadowverse}")
      a(href="03_03_shadowverse_01.html") Shadowverse
