.nav_side
  ul.nav_side__list.nav_side__list--news
    li.current
      a(href="")
        span July 23, 2016
        | GLP参加チームの辞退、GLP/GLMの大会構造の変更に関して
    li
      a(href="")
        span July 23, 2016
        | GLP参加チームの辞退、GLP/GLMの大会構造の変更に関して
    li
      a(href="")
        span July 23, 2016
        | GLP参加チームの辞退、GLP/GLMの大会構造の変更に関して
    li
      a(href="")
        span July 23, 2016
        | GLP参加チームの辞退、GLP/GLMの大会構造の変更に関して
    li
      a(href="")
        span July 23, 2016
        | GLP参加チームの辞退、GLP/GLMの大会構造の変更に関して
    li
      a(href="")
        span July 23, 2016
        | GLP参加チームの辞退、GLP/GLMの大会構造の変更に関して
    li
      a(href="")
        span July 23, 2016
        | GLP参加チームの辞退、GLP/GLMの大会構造の変更に関して
